@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
	background-color: #4b0082;
	box-shadow: border-box;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Protest Riot', sans-serif;

}
